
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  scrollbar-width: none;
}

header {
  display: flex;
  padding: 20px 150px;
  align-items: center;
  background-color: transparent;
  width: 100%;
  z-index: 2;
  position: fixed;

  border-bottom: 0.1px solid #70776738;
  transition: background-color ease 0.4s;
}

header:hover {
  background-color: white;
}

header .logo {
  margin-right: 75px;
}

header nav {
  display: flex;
  gap: 30px;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}

.buttons-container {
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: end;
}

.buttons-container button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid;

  font-family: inherit;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-container button.credit {
  border: none;
  color: #707767;
}

.buttons-container button.credit img {
  margin-right: 2px;
}

main {
  background-image: url(https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;

  padding: 0 150px;
  padding-top: 92px;
}

main > h1 {
  font-weight: 350;
  font-size: 72px;

  width: 55%;
}

.cards {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.card {
  width: 275px;
  height: 275px;
  background-color: transparent;

  padding: 20px;
  border-radius: 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.7s;
}

.content {
  opacity: 0;
  font-size: 12px;
  overflow: hidden;

  transition: all 0.7s;
}

.content > div {
  line-height: 20px;
  transform: translate(0, 100%);
  transition: all 0.7s;
}

.bottom {
  position: relative;
  padding-top: 10px;
  margin-top: auto !important;
}

.bottom::before {
  content: "";
  height: 0.5px;
  width: 0%;
  position: absolute;
  top: 0;
  background-color: black;
  transition: all ease 0.75s;
}

.overlay {
  border-radius: 20px;
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.304);

  width: 100%;
  top: 0;
  left: 0;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;

  transition:
    opacity ease 0.5s,
    z-index ease 0.5s;
  z-index: 1;
}

.overlay > div {
  overflow: hidden;
}

.overlay > div > h1 {
  font-size: 30px;
  font-weight: lighter;
  transform: translate(0, 0);
  transition: all ease 0.3s;
}

.card:hover .overlay {
  opacity: 0;
  z-index: -1;
}

.card:hover .overlay > div > h1 {
  transform: translate(0, -100%);
}

.card:hover {
  background-color: white;
}

.card:hover .content {
  opacity: 1;
}

.card:hover .content > div {
  transform: translate(0, 0%);
}

.card:hover .bottom::before {
  width: 100%;
}

section.marquee {
  height: 150vh;
  background-color: #DFDAC6;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.marquee img {
  width: 818px;
  object-fit: cover;
}

.marquee {
  position: relative;
}

.marquee-divs {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: hidden;
}

.marquee-container {
  display: flex;
  gap: 40px;
  width: fit-content;
  animation: marquee 8s linear infinite;
}

.marquee-container > h1 {
  flex-shrink: 0;
  font-size: 56px;
  font-weight: lighter;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container.second {
  animation-direction: reverse;
}

section.big-cards {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.big-cards > .cards .card .overlay {
  color: white;
  backdrop-filter: blur(20px);
}

.big-cards > .cards .card {
  width: 300px;
  height: 300px;
}

.big-cards > .cards .card .content {
  font-size: 12px;
}

.big-cards > .cards .card .content + .content {
  margin-top: 10px;
}

.big-cards > .cards .card .content > div {
  line-height: 12px;
}

.big-cards > .cards .card:hover {
  width: 400px;
  height: 400px;
}

.big-cards > .cards .card:hover .content {
  font-size: 17px;
}

.big-cards > .cards .card:hover .content > div {
  line-height: 22px;
}

.card-heading {
  font-size: 36px !important;
  margin-bottom: 5px;
}

.card-heading > div {
  line-height: 50px !important;
}

.background-images {
  z-index: -1;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background-images > img {
  filter: brightness(0.8);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: opacity 0.2s, transform 0.7s;
}

.background-images > img:nth-child(1){
  opacity: 1;
  transform: scale(1);
}

section.big-cards:has(.cards .card:nth-child(1):hover) .background-images > img:nth-child(1){
  opacity: 1;
}

section.big-cards:has(.cards .card:nth-child(2):hover) .background-images > img:nth-child(2){
  opacity: 1;
  transform: scale(1);
}

section.big-cards:has(.cards .card:nth-child(3):hover) .background-images > img:nth-child(3){
  opacity: 1;
  transform: scale(1);
}

section.commitment {
  height: 40vh;
  width: 100%;

  background-color: #FFFDF5;
}
